/* ============================================================
  SECTIONS
============================================================ */

/* Vertical spacers */
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

body{
   padding-top:0px;
   margin-top: 0px;
}
/* Center text*/
h1, h2, h3, h4, h5, h6, p{
  text-align: center;
}
.centered { 
  float: none;
  text-align: center;
  margin: 0 auto;
 }

 .footer-title {
    background-color: #eaf1f7;
    padding: 20px;
}
.socialFooter {
  font-size: 25px;
  font-weight: 300;
}
.facebook {
  color: #6B7DBA;
}
.twitter {
  color: #33C9FF;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../img/aecp.jpg");
}
section.module.parallax-2 {
  background-image: url("../img/1.jpg");
  background-color: #222;
}
section.module.parallax-3 {
  background-color: #337AB7;
  /*background-color: #222;*/
  background-image: url(../img/map-image.png);
  background-position: center;
  background-repeat: no-repeat;
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}